body {
  background-color: #A7CEDB;
}

h1 {
    margin: 0px;
}

#title h1{
  color:#080891;
  text-align:center;
  font-family: Impact;
}

#title{
  padding: 10px;
}

#overviewcont {
    border-radius: 15px 50px 30px;
    background: #74BED6;
    padding: 20px;
}

#overview{
  background-color: #c5e4ed;
}

.episodetotal{
  background-color: #c5e4ed;
}

footer{
  clear: both;
  text-align:center;
}
.arrow-up {
  display: block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-bottom: 20px solid green;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #f00;
}
